@{
    ViewBag.Title = "About";
}

<section id="one" class="wrapper special">
    <div class="inner">
        <header class="major">
            <h2>About Us</h2>
            <p>Having and Managing a Correct Marketing Strategy is Crucial in a Fast Moving Market.</p>
        </header>
        <div class="features">
            <div class="feature">
                <h3><strong>Easy To Use</strong></h3>
                <p>Retaining a simple layout helps to keep any user going.</p>
            </div>
            <div class="feature">
                <h3><strong>24/7 - Support</strong></h3>
                <p>Our support team is 100% free and always there to answer your questions whenever you may have them.</p>
            </div>
            <div class="feature">
                <h3><strong>Clean</strong></h3>
                <p>With a simple, clean layout, we ensure the simplest, yet best experience any data saving companies may provide.</p>
            </div>
            <div class="feature">
                <h3><strong>Use Of Google API</strong></h3>
                <p>With our partnership with Google, we have access to use of all types of Google APIs. This includes the Google Maps API, which allows you to pinpoint exact locations.</p>
            </div>
            <div class="feature">
                <h3><strong>Strong Development Team</strong></h3>
                <p class="card-text">Our development team is one of the strongest in the nation. With the power of all our developers, we were able to bring you all a beautiful work of art.</p>
            </div>
            <div class="feature">
                <h3><strong>Weekly Updates</strong></h3>
                <p>We are always working on improving our site, that being said, weekly updates are pushed out by our development team to ensure new content, additions, and more are being given for you to use.</p>
            </div>
        </div>
    </div>

    <hr />
    <div class="inner">
        <header class="major">
            <h2 class="text-center">Our Development Team</h2>
        </header>


        
    </div>
</section>

<div class="container">
    <div class="row contained-center">
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Blue.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head Designer</p>
                </div>

                <div class="team-back">
                    <span>
                        Zach Ringis is the head web designer of <b>Company Manager</b>. With all his experience he has helped complete this site with ease.
                    </span>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Orang.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head Developer</p>
                </div>

                <div class="team-back">
                    <span>
                        Our head developer Zach Ringis has put in countless hours of work on <b>Company Manager</b>. Through thick and thin, the project has been developed to perfection thanks to him.
                    </span>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Purp.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head of Idea Board</p>
                </div>

                <div class="team-back">
                    <span>
                        What's a project without ideas? Thanks to Zach Ringis, we had a plethora of ideas for <b>Company Manager</b>!
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>