@{
    ViewBag.Title = "About";
}
<h1 class="text-center">About Us</h1>
<hr />
<h2 class="text-center">Our Motto</h2>

<section>
    <div class="container-fluid">
        <p class="text-center text-muted h5">Having and Managing a Correct Marketing Strategy is Crucial in a Fast Moving Market.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Easy To Use</h3>
                        <p class="card-text">Retaining a simple layout helps to keep any user going.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">24/7 Support</h3>
                        <p class="card-text">Our support team is 100% free and always there to answer your questions whenever you may have them.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Clean</h3>
                        <p class="card-text">With a simple, clean layout, we ensure the simplest, yet best experience any data saving companies may provide.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Use of Google API</h3>
                        <p class="card-text">With our partnership with Google, we have access to use of all types of Google APIs. This includes the Google Maps API, which allows you to pinpoint exact locations.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Strong Development Team</h3>
                        <p class="card-text">Our development team is one of the strongest in the nation. With the power of all our developers, we were able to bring you all a beautiful work of art.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Weekly Updates</h3>
                        <p class="card-text">We are always working on improving our site, that being said, weekly updates are pushed out by our development team to ensure new content, additions, and more are being given for you to use.</p>
                        <a href="javascript:void();" title="Read more" class="read-more">Read more<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
@*<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <!-- Scripts and Links -->

    <div class="containerr">
        <!--JORGE REYES-->
        <div class="cont">
            <!--Main-->
            <div class="cont__main">
                <div class="main__img">
                    <img src="https://pbs.twimg.com/profile_images/1121474964987760640/srsqOxTD_400x400.png" alt="">
                </div>
                <div class="main__text">
                    <h1 class="main__text--title">
                        Jorge Reyes
                    </h1>
                    <h3 class="main__text--subtitle">
                        Jr. Front-end Developer
                    </h3>
                </div>
            </div>
            <hr>
            <!--SKILLS-->
            <div class="cont__skills">
                <div class="skillsgrid">
                    <div class="skillsgrid__skill">
                        <p>HTML5</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>CSS3</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>JavaScript</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Bulma</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Photoshop</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>JQuery</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Bootstrap</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Affinity Designer</p>
                    </div>
                </div>
            </div>
            <hr>
            <!--SOCIA MEDIA-->
            <div class="cont__media">
                <div class="mediaa">
                    <h2 class="media__text">
                        Social Media
                    </h2>
                    <div class="media__icons">
                        <div class="media__icons--icon">
                            <i class="fab fa-twitter fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-codepen fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-github fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--RODOLFO-->
        <div class="cont">
            <!--Main-->
            <div class="cont__main">
                <div class="main__img">
                    <img src="https://pbs.twimg.com/profile_images/1101133371894390784/BxDL7lwl_400x400.jpg" alt="">
                </div>
                <div class="main__text">
                    <h1 class="main__text--title">
                        Rodolfo Rivera
                    </h1>
                    <h3 class="main__text--subtitle">
                        UI / UX Designer
                    </h3>
                </div>
            </div>
            <hr>
            <!--SKILLS-->
            <div class="cont__skills">
                <div class="skillsgrid">
                    <div class="skillsgrid__skill">
                        <p>HTML5</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>CSS3</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>JavaScript</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Figma</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Photoshop</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Illustrator</p>
                    </div>
                    <div class="skillsgrid__skill">
                        <p>Adobe Xd</p>
                    </div>
                </div>
            </div>
            <hr>
            <!--SOCIA MEDIA-->
            <div class="cont__media">
                <div class="mediaa">
                    <h2 class="media__text">
                        Social Media
                    </h2>
                    <div class="media__icons">
                        <div class="media__icons--icon">
                            <i class="fab fa-twitter fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-dribbble fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-behance-square fa-2x"></i>
                        </div>
                        <div class="media__icons--icon">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<h1 class="text-center">Our Development Team</h1>


<div class="container">
    <div class="row contained-center">

        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Blue.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head Designer</p>
                </div>

                <div class="team-back">
                    <span>
                        Zach Ringis is the head web designer of <b>Company Manager</b>. With all his experience he has helped complete this site with ease.
                    </span>
                </div>

            </div>
        </div>
        <!--team-1-->
        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Orang.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head Developer</p>
                </div>

                <div class="team-back">
                    <span>
                        Our head developer Zach Ringis has put in countless hours of work on <b>Company Manager</b>. Through thick and thin, the project has been developed to perfection thanks to him.
                    </span>
                </div>

            </div>
        </div>
        <!--team-2-->
        <!--team-3-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="~/Content/Images/Name_Purp.png" class="img-fluid" />
                    <h3>Zach Ringis</h3>
                    <p>Head of Idea Board</p>
                </div>

                <div class="team-back">
                    <span>
                        What's a project without ideas? Thanks to Zach Ringis, we had a plethora of ideas for <b>Company Manager</b>!
                    </span>
                </div>

            </div>
        </div>
        <!--team-3-->
        <!--team-4-->
        @*<div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="http://placehold.it/110x110/4caf50/fff?text=Ringis" class="img-fluid" />
                        <h3>Zach Ringis</h3>
                        <p>Web Designer</p>
                    </div>

                    <div class="team-back">
                        <span>
                            Insert Content
                        </span>
                    </div>

                </div>
            </div>
            <!--team-4-->
            <!--team-5-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="http://placehold.it/110x110/e91e63/fff?text=Ringis" class="img-fluid" />
                        <h3>Zach Ringis</h3>
                        <p>Web Designer</p>
                    </div>

                    <div class="team-back">
                        <span>
                            Insert Content
                        </span>
                    </div>

                </div>
            </div>
            <!--team-5-->
            <!--team-6-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <img src="http://placehold.it/110x110/2196f3/fff?text=Ringis" class="img-fluid" />
                        <h3>Zach Ringis</h3>
                        <p>Web Designer</p>
                    </div>

                    <div class="team-back">
                        <span>
                            Insert Content
                        </span>
                    </div>

                </div>
            </div>*@
        <!--team-6-->



    </div>
</div>