@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Feel Free to Fill Out Our Form To Contact Us!</h3>

@*<form id="contact-form" method="post" action="contact.php" role="form">

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">First Name <b>*</b></label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Jon" required="required" data-error="First Name Required">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Last Name <b>*</b></label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Doe" required="required" data-error="Last Name Required">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email <b>*</b></label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="jondoe@email.com" required="required" data-error="Valid Email Required">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_need">Short Message <b>*</b></label>
                    <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                        <option value=""></option>
                        <option value="Request quotation">Request quotation</option>
                        <option value="Request order status">Request order status</option>
                        <option value="Request copy of an invoice">Request copy of an invoice</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Short Message *</label>
                    <textarea id="form_message message_fill" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">
                    <strong>*</strong> Required
                </p>
            </div>
        </div>
    </div>

</form>*@

<div class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form class="contact2-form validate-form">

                <div class="wrap-input2 validate-input" data-validate="Name is required">
                    <input class="input2" type="text" name="name">
                    <span class="focus-input2" data-placeholder="NAME"></span>
                </div>

                <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input2" type="text" name="email">
                    <span class="focus-input2" data-placeholder="EMAIL"></span>
                </div>

                <div class="wrap-input2 validate-input" data-validate="Message is required">
                    <textarea class="input2" name="message"></textarea>
                    <span class="focus-input2" data-placeholder="MESSAGE"></span>
                </div>

                <div class="container-contact2-form-btn">
                    <div class="wrap-contact2-form-btn">
                        <input type="submit" class="btn btn-send" value="Send message">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>